
<nav class="sb-topnav navbar navbar-expand navbar-dark header-top"  >
	<!-- Navbar Brand-->
	<a class="navbar-brand ps-2 text-black text-bold uppercase" routerLink="/home" >
		Gerance company
	</a>
	<!-- Sidebar Toggle-->
	<span (click)="menu()" class="p-2 order-1 order-lg-0 me-3 me-lg-0 text-black logo"
		id="sidebarToggle" href="#!">
		<i class="fa fa-bars"></i>
	</span>
	
	
	<!-- Navbar Search-->
	 <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
		<div class="container text-black ">
			Ok bienvenue sur l'application
		</div>
	</div> 
	
	
	<!-- Navbar-->
	<ul class="navbar-nav d-block ms-auto ms-md-0 me-3 me-lg-3 text-black ">
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-black "
			id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"><i class="fa fa-user fa-fw text-black"></i></a>
			<ul class="dropdown-menu dropdown-menu-end"
				aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item text-black " href="#!">Settings</a></li>
				<li><a class="dropdown-item text-black " href="#!">Activity Log</a></li>
				<li><hr class="dropdown-divider text-black " /></li>
				<li><a class="dropdown-item text-black " th:href="@{/login?logout}">Logout</a></li>
			</ul>
		</li>
	</ul>
</nav>









