
    
    <div class="sb-nav-fixed">
    
        <!-- inclusion d l'entete -->
        <app-header ></app-header>
    
        <div id="layoutSidenav">
    
    
            <!-- Menu inclusion  -->
            <app-left-menu ></app-left-menu>
    
    
            <div id="layoutSidenav_content">
                <main role="main" class="main">
                    <div class="container-fluid px-2">
    

                    
                    </div>
                </main>
    
                <!-- <section th:insert="layouts/footer :: footer"></section> -->
            </div>
    
    
        </div>
    
    
    
    </div>
    
    
    