
<div class="container-fluid" style="margin: 0; padding: 0; ">
    <nav class="public-menu">
        <div class="company-logo">
    
            <div class="p-3 text-muted">
     Sit, pariatur suscipit. Illo optio, ullam nobis atque sint  fuga iusto reiciendis!
               
            </div>
    
        </div>
    
        <ul class="border d-flex justify-content-end p-2 bg-white">
    
            <li class="p-2 ">
                <a routerLink="/public/services"routerLinkActive="active">
                    <span class="logo-icons "> <i class="fa fa-home text-primary"></i> </span> 
                      services </a>
            </li>
            <li class="p-2 ">
                <a routerLink="/public/demandes" routerLinkActive="active">
                    <span class="logo-icons "> <i class="fa fa-about text-primary"></i> </span> demande
                </a>
            </li>
    
            <li class="p-2 ">
                <a routerLink="" routerLinkActive="active">
                    <span class="logo-icons "> <i class="fa fa-contact text-primary"></i> </span> 
                Contact</a>
            </li>
    
        </ul>
    
    </nav>
</div>